@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-jost);
  color: black;
  font-size: 16px;
}

.page-layout {
  @apply max-w-[1200px] mx-auto py-0 md:py-[100px] md:px-2 
}

.sidebar {
  @apply lg:w-[300px]
}

a{
 @apply text-sm underline text-[#4661E6]
}

.no-scroll{
  @apply overflow-hidden md:overflow-scroll
}

.custom-class {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  font-size: 1.25rem; /* xl equivalent */
  position: relative;
  animation: fadeIn 0.8s ease-in-out;
}

.custom-class:hover {
  transform: scale(1.05);
}

@keyframes fadeIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
